[Unit]
Description=AsterixDB NC Service
After=network.target

[Service]
Type=simple
Environment=JAVA_HOME={{ java_home }}
User={{ asterixdb_service_username }}
Group={{ asterixdb_service_group }}
ExecStart=/opt/asterixdb/bin/asterixncservice

SyslogIdentifier=asterixdb-nc
Restart=always

[Install]
WantedBy=multi-user.target