[Unit]
Description=AsterixDB CC Service
After=network.target

[Service]
Type=simple
Environment=JAVA_HOME={{ java_home }}
User={{ asterixdb_service_username }}
Group={{ asterixdb_service_group }}
ExecStart=/bin/bash -c '/opt/asterixdb/bin/asterixcc -config-file /opt/asterixdb/cc.conf > {{ asterixdb_service_logs_dir }}/cc.log 2>&1'

SyslogIdentifier=asterixdb-cc
Restart=always

[Install]
WantedBy=multi-user.target